@import "colors.css";

* {
    border: none;
    font-family: "JetBrainsMono Nerd Font",Helvetica, Arial, sans-serif;
    font-size: 1rem;
}

window#waybar {
    background: transparent;
    color: white;
    border-radius: 12px;
}

tooltip {
  background: @background;
  border-radius: 7px;
  padding: 1px 3px;
}
tooltip label {
  color: @secondary;
  border-radius: 12px;
}

#workspaces button {
    background: @background;
    color: @secondary;
    transition: 0.3s ease;
    margin: 4px 4px;
    padding: 0px 9px;
    border-radius: 12px;
    box-shadow: none;
    text-shadow: none;
}

#workspaces button.active {

    color: @outline;
    padding: 0px 13px;
    background: @on_background;
}

#tray,
#clock,
#pulseaudio,
#cpu,
#memory {
    margin: 4px 9px;
    background-color: @background;
    color: @secondary;
    padding: 0px 11px;
    border-radius: 10px;
}
